<% include partials/header %>
<div class="container">
    <% if(true){ %>
    <div class="panel panel-primary" ng-init="getBooks()">
        <div class="panel-heading">
            <h3 class="panel-title"><%= bear.name %></h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6 col-xs-12 col-sm-5">
                    <img src="<%= bear.imgUrl %>" class="thumbnail lazy">
                </div>
                <div class="col-md-6 col-xs-12 col-sm-7">
                    <p><%= bear.description %></p>
                    <a href="/" class="btn btn-warning">Back</a> |
                    <form action="/bear/delete" method="post" style="display: inline">
                        <input type="hidden" name="id" value="<%=bear._id%>">
                        <input type="hidden" name="rev" value="<%=bear._rev%>">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    |
                    <a href="/bear/edit/<%=bear._id%>" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
    </div>
    <% }else{ %>
    <h1>404 Not Found!</h1>
    <% } %>
</div><!-- /.container -->
<% include partials/footer %>